html {
  height: 100%; }
  html body {
    height: 100%; }
  html .full-height {
    height: 100%; }
  html nav.navbar.navbar-inverse {
    margin: 0; }
  html .video-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute; }
    html .video-container video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  html .white-text {
    color: white; }
  html .absolute {
    position: absolute; }
  html .front {
    z-index: 100 !important; }
  html .white {
    background-color: white; }
  html .card {
    width: 400px !important;
    height: 400px !important;
    background-color: rgba(120, 0, 0, 0.5); }
  html .vertical-center {
    -ms-display: flex;
    display: -webkit-flex;
    display: flex;
    /* alineacion vertical */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* alineacion horizontal */
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
